/**************************/
/* NAVIGATION */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 4.8rem;
  margin-bottom: 4.8rem;
}

.welcome {
  font-size: 2rem;
  letter-spacing: 0.085rem;
  color: #0c4a6e;
  font-weight: 800;
}

.logo__text {
  text-align: center;
  font-size: 1.6rem;
  font-style: italic;
  color: #0c4a6e;
  font-weight: 800;
}

.logo__img {
  width: 10rem;
}

.main__nav--list {
  padding: 0 3.6rem;
  list-style: none;
  color: #0c4a6e;
  font-size: 1.6rem;
}

.main__nav--link {
  text-decoration: none;
}

.date__container {
  font-size: 2.4rem;
  color: #0c4a6e;
  font-weight: 800;
  text-align: justify;
  margin-left: 34%;
  margin-bottom: 4.8rem;
}

.month {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ionicon {
  fill: #0c4a6e; /* Kolor wypełnienia */
  width: 4rem; /* Szerokość */
  height: 4rem; /* Wysokość */
}
